<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Ціль: запис логів у файл logs.txt -->
    <target name="file" xsi:type="File" fileName="${basedir}/logs/logs.txt"
            layout="${longdate} ${level:uppercase=true} ${message}" />
  </targets>
  <rules>
    <!-- Правило: записувати всі повідомлення рівня Info і вище у файл -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
